
<div class="container-fluid">
  <h2>{{header}}</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="userName.invalid && userName.touched" 
             formControlName="userName" type="text" class="form-control">
      <div *ngIf="userName.invalid && userName.touched">
        <small *ngIf="userName.errors?.required" class="text-danger">This field is required</small>
        <small *ngIf="userName.errors?.minlength" class="text-danger">Must have atleast 3 characters.</small>
        <small *ngIf="userName.errors?.forbiddenName" class="text-danger">{{userName.errors?.forbiddenName.value}} Admin is not allowed</small>
      </div>
    </div> -->
    <!-- <div class="form-group">
      <label>Password</label>
      <input formControlName="password"  type="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword"  type="password" class="form-control">
      <small *ngIf="registrationForm.errors?.misMatch" class="text-danger">Password not not match!</small>
    </div> -->

    <div class="form-group">
      <label>First Name</label>
      <input formControlName="fn" class="form-control">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input formControlName="ln" class="form-control">
    </div>
    <div class="pos form-group">
      <label for="position">Position: </label>
      <select 
        formControlName="pos"
        class="custom-select"
      >
        <option value="">Select position</option>
        <option *ngFor="let positions of position">{{ positions }}</option>
      </select>
    </div>
    <div formGroupName="details">
      <div class="form-group">
        <label>Age</label>
        <input formControlName="age" class="form-control">
      </div>
      <div class="pos form-group">
        <label for="sex">Sex: </label>
        <select 
          formControlName="sex"
          class="custom-select"
        >
          <option value="">Select Gender</option>
          <option *ngFor="let sexs of sex">{{ sexs }}</option>
        </select>
      </div>
    </div>

    <button [hidden]="isEditing" class="btn btn-primary" type="submit">REGISTER</button>
    <button [hidden]="!isEditing" class="btn btn-primary" type="button" (click)="saveEdit(selected.id)">SAVE CHANGES</button> &nbsp; &nbsp;
    <button [hidden]="!isEditing" class="btn btn-danger" type="button" (click)="cancel()">CANCEL</button>
  </form>
  <table mat-table [dataSource]="apiData"  
    #mainDataSourceSort="matSort" matSort 
    multiTemplateDataRows class="mattable w-100-p" >

    <ng-container matColumnDef="handler">
      <th mat-header-cell *matHeaderCellDef class="primary">&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="p-0 width-10">
      <button mat-icon-button
      (click)="openParts($event, element)">
          <mat-icon *ngIf="openedParts == element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="openedParts != element">chevron_right</mat-icon>
      </button>
      </td>
    </ng-container>
    
    <ng-container [matColumnDef]="header.key"
    *ngFor="let header of ELEMENT_HEADER.main">
    
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="primary"> {{ header.display }} </th>
        <td mat-cell *matCellDef="let row;" > {{ row[header.key] }} </td>
    </ng-container>

    <ng-container matColumnDef="act">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-primary" (click)="editData(element.id)">EDIT</button>
        &nbsp;
        <button class="btn btn-danger" (click)="terminate(element.id)">TERMINATE</button>
      </td>
    </ng-container>
    

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element"
            [ngClass]="{'no-padding': openedParts != element}"
            [attr.colspan]="ELEMENT_HEADER.mainHeaderRow.length"
            [class.expanded]="openedParts === element">
            <div class="example-element-detail"
                  [@detailExpand]="element === openedParts ? 'expanded' : 'collapsed'">
                  <div *ngIf="openedParts === element" class="mat-elevation-z8 scroll-container">
                        <table class="w-100-p" matSort mat-table [dataSource]="childDataSource">

                              <ng-container [matColumnDef]="header.key"
                              *ngFor="let header of ELEMENT_HEADER.child">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="primary">
                                          <div [ngSwitch]="header.display">
                                                <div *ngSwitchDefault> {{ header.display }} </div>
                                          </div>
                                    </th>
                                    <td mat-cell *matCellDef="let partEl;">
                                          <div [ngSwitch]="header.display">
                                                <div *ngSwitchDefault> {{ partEl[header.key] }}  </div>            
                                          </div>
                                    </td>
                              </ng-container>                                                                                    

                              <tr mat-header-row *matHeaderRowDef="ELEMENT_HEADER.childHeaderRow; sticky: true"></tr>
                              <tr mat-row *matRowDef="let row; columns: ELEMENT_HEADER.childHeaderRow;"> </tr>
                        </table>
                  </div>
            </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="ELEMENT_HEADER.mainHeaderRow"></tr>
    <tr mat-row *matRowDef="let row; columns: ELEMENT_HEADER.mainHeaderRow;"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="collapse-detail-row"></tr> -->
    
  </table>
  <mat-toolbar class="bg-white">

    <mat-toolbar-row>
        <span class="spacer"></span>
        <mat-paginator #paginator
        [pageSize]="matTableOptions.pageSize"
        [pageSizeOptions]="matTableOptions.pageSizeOptions"
        [showFirstLastButtons]="matTableOptions.showFirstLastButtons">
        </mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

